<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="userBar"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <p>Game is over!</p>
        <p v-if="winner === 'user'">You won!</p>
        <p v-if="winner === 'monster'">Monster won!</p>
        <p v-if="winner === 'draw'">It is a draw!</p>
        <button @click="startNewGame()">Start new Game</button>
      </section>
      <section id="controls" v-if="!winner">
        <button @click="attackMonster()">ATTACK</button>
        <button @click="specialAttackMonster()" :disabled="canUseSpecialAttack">SPECIAL ATTACK</button>
        <button @click="healUser()">HEAL</button>
        <button @click="surrender()">SURRENDER</button>
      </section>
    </div>
  </body>
</html>
