<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Vue Basics</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link href="styles.css" rel="stylesheet"/>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="app.js"></script>
</head>
<body>
<header>
    <h1>Vue Course Goals</h1>
</header>
<section id="user-goals">
    <h2>My course goals</h2>
    <input type="text" v-model="goalValue"/>
    <button :class="goalValue ? '' : 'btnDisabled'" @click="addGoal()" v-bind:disabled="!goalValue">Add Goal</button>
    <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
    <!--      <ul v-if="goals.length > 0">-->
    <ul v-show="goals.length > 0"> <!-- elements in DOM -->
        <!--      <ul v-else>-->
        <!--        <li v-for="goal in goals">{{goal}} </li>-->
        <li :key="goal" v-for="(goal, index) in goals">{{index + 1 }} - {{goal}}
            <button @click="deleteGoal(index)">Delete</button>
        </li>
    </ul>
    <!--      <li v-for="(value, key, index) in {name: 'Roman', lastName: 'Shutsman'}">{{key}}: {{value}} {{index}}</li>-->
    <!--      <li v-for="value in 10">{{value}}</li>-->
</section>
</body>
</html>
